
/* Head Modification */
.header-container{
    display: flex;

    /* background: peru; */
    background: linear-gradient(to right, black, #CD6B54, #821273);
    /* background: linear-gradient(to left,); */
    border: 2px;
    border-style: double;
    border-color: white;
    height: 3em;
    margin-left: -10px;
    margin-right: -10px;

    padding-left: 1ch;
}
.header-container-item{
    height: 10px;
    margin-top: 20px;
    margin-left: 1px;

    font-weight: 900;
    font-size:x-large;
    color: rgb(255, 232, 246);
}
#streak{
    height: 5px;
}
.welcome-banner{
    color: #D99A27;
    background-color: rgb(43, 41, 41);
    background: linear-gradient(to left,black, rgb(43, 41, 41), rgba(95, 38, 100, 0.562) );
    font-family: 'Nanum Gothic', sans-serif;
    border: solid;
    border-color: #D3833D;
    /* border-color: whitesmoke; */
    border-width: 1px;

    transition: all 0.5s ease-in;
    /* box-shadow: 0 10px 20px rgb(46, 45, 45), 0 6px 6px rgba(228, 133, 10, 0.945); */
}
.welcome-banner:hover{
    box-shadow: 0 10px 20px rgb(46, 45, 45), 0 6px 6px rgba(228, 133, 10, 0.945);
    background: linear-gradient(to left,black, rgb(43, 41, 41), rgba(154, 14, 167, 0.795) );
    color: #f7c15d;
}
p{
    color: #D99A27;
    transition: all 0.5s ease;
}
p:hover{
    background: #ffffff11;
    color: #f0ac2e;
}
header{
    /* background: linear-gradient(to right, black, #CD6B54, #C7536B); */
}




/* Main Modification */
main{
    background: linear-gradient(to top right, black, black, rgb(66, 15, 44), rgb(139, 22, 71));
}




/* Body-Content Modification */
body{
    background: rgb(22, 21, 21);
    /* background: linear-gradient(to top, black, #CD6B54, #C7536B, #BB2498); */

    animation: alter 3.0s linear 0s infinite;
}
.nav-container{
    background: rgb(19, 18, 18);
    display: flex;
}
.nav-container > * {
    /* Grow / Shrink / Size */
    flex: 1 1 100%; 

    max-width: 40ch;
}
.nav-container > * + * {
    margin-left: 3px;
    justify-content: center;
}
.nav-div{
    height: 35px;
    width: 60ch;

    display: flex;
    background: peru;
    background: linear-gradient(to bottom, #821273, #D99A27);

    color: aliceblue;

    transition:all 0.5s ease;
}
.nav-div > * {
    margin-top: 2ch;

    /* background: blueviolet; */
    width: 10ch;
    text-align: center;
}
.nav-div:hover{
    /* #f32bd8 */
    background: linear-gradient(to bottom, #f32bd8, #f0ac2e);
    padding: 0px 30px;
    
}
#home-tab{
    justify-content: center;
    transition: all 0.5s ease;

    animation: enlarge 1s ease 2s infinite alternate;
}
.nav-div-item{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

.body-container-1{
    height: 50ch;
    /* background:#CD6B54; */

    display: flex;
    justify-content: center;
}
.body-container-1-item{
    height: 49ch;
    width:  70ch;
    border: solid;
    border-color: aliceblue ;

    margin-top: -15px;
    
}
.body-container-1-item-image{
    height: 49ch;
    width:  100%;
    object-fit: cover;
}
#anouncements{
    height: 49ch;
    width: 23%;
    border: solid;
    border-color: aliceblue ;

    margin-top: -15px;
    transition: all 1.1s ease;

    max-width: 45ch;
}
#anouncements:hover{
    width: 35%;
}




.title-box{
    height: 35px;
    width: 100%;

    display: flex;
    background: peru;
    background: linear-gradient(to bottom, #821273, #D99A27);

    justify-content: center;
    flex: 1 1 100%;
   
    color: aliceblue; 
}
.title-box:hover{
    background: linear-gradient(to bottom, #f32bd8, #f0ac2e);
    /* padding: 0px 30px; */
}
.title-box > * {
    width: 100%;
    text-align: center;
}
.title-text{
    height: 60%;
    width: 100%;

    margin-top: 17px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.text-box{
    margin-top: -13px;
    height: 44ch;
    width: 100%;

    background: #2c271e;
    background: linear-gradient(to top, black, #2c271e);
}
.text-box-text{
    color: #f0eeea;
}



.show-container{
    height: 20ch;
    background:#8b4b4b;

    display: flex;
}
.show-container > *{
    width: 13ch;
    text-align: center;

    flex: 1 1 100%;
}
.show-container-item{
    height: 35ch;
    width: 100%;

    background: #821273;
    border: solid;
    
}
.show-container-item-image{
    height: 35ch;
    width: 100%;

    background: red;
    object-fit: cover;
}
.digital{
    height: 35ch;
    width: 100%;

    object-fit: cover;
}
.digital:hover{
    height: 40.5ch;
    width: 100%;
    
    transition: all 0.5s ease;
}








/* Animation Modification */
@keyframes enlarge {
    from{  color: #5e0d53; background: linear-gradient(to bottom, #881c7a, #cf9a38);} /* Starting Point*/
    to{ color: #1c38b6; background: linear-gradient(to bottom, #821273, #D99A27);} /*Ending point*/

}

@keyframes alter{
    from { background: #1b1813;}
    to {background: #200909;}
}





/* Footer Modification */
footer{
   
}
.footer-container {
    height: 50ch;
    width: 100%;
    background: linear-gradient(to bottom, black, #821273, #D99A27);
    color: #f0eeea;
    display: flex;
}



.table-container{
    background: #2c271e;
    background: linear-gradient(to bottom,#2c271e, black);
    height: 78.5%;
    padding-top: 10ch;

    width: 50ch;
    border: solid;

}

.thank_container{
    height: 5ch;
    width: 100%;

    background: #821273;
    /* background: linear-gradient(to bottom, black, rgb(31, 29, 29), #D99A27); */
    background: linear-gradient(to bottom, #821273, #D99A27);
    margin-top: -10ch;

    display: flex;
}

.thank-box{
    height: 3ch;
    width: 60%;

    /* background: #2c271e; */
    

    margin-left: 8ch;
    margin-top: 1.3ch;

    text-align: center;
}
.thank-text{
    margin-top: 6px;
    font-size: larger;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}


.footer-table {
    margin-top: 5ch;
    color: aliceblue;
}
a{
    color: aliceblue;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}
a:hover{
    color: #fcbf4f;
}
.bottom_link{
    color: aliceblue;
    text-decoration: none;
}
.image-container{
    background: #D3833D;
    height: 100%;
    width: 50%;

    margin-left: 10%;
}
.image-container-item{
    height: 100%;
    width: 100%;
    object-fit: cover;
}